{{ header }}
<div class="top-cat fluid-width">
  <div class="container">
    <div class="d-flex">
      <div class="col-lg-7 col-md-7 hidden-xs hidden-sm" style="background-image: url('{{ image }}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="history-bg"></div>
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12">
        <div class="p-50">
          <h1 class="bl-bold">Необхідно пароль</h1>
          <br>
          <form method="post" action="">
            <div class="form-group">
              <label for="password">Пароль:</label>
              <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="button">Увійти</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
