/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.oc-banner7-container .flex-container a:active,
.oc-banner7-container .flexslider a:active,
.oc-banner7-container .flex-container a:focus,
.oc-banner7-container .flexslider a:focus  {outline: none;}
.oc-banner7-container .slides,
.oc-banner7-container .flex-control-nav,
.oc-banner7-container .flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
} 
/* FlexSlider Necessary Styles
*********************************/ 
.oc-banner7-container .flexslider {
	margin: 0; 
	padding: 0;
}
.oc-banner7-container .flexslider .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden; 
	position: relative; 
} 
/* Hide the slides before the JS is loaded. Avoids iocge jumping */
.oc-banner7-container .flexslider .slides img {
	display: block;
}
.oc-banner7-container .flex-pauseplay span {
text-transform: capitalize;
}
/* Clearfix for the .slides element */
.oc-banner7-container .slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0;
	height: 0;
} 
html[xmlns] .oc-banner7-container .slides {display: block;} 
* html .oc-banner7-container .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, ocke sure you
 * include js that eliminates this class on page load */
.no-js .oc-banner7-container .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.oc-banner7-container .flexslider {
	margin: 0 0 0px 0; 
	position: relative; 
	zoom: 1;
}
.oc-banner7-container .flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
}
.oc-banner7-container .loading .flex-viewport {
	max-height: 300px;
}
.oc-banner7-container .flexslider .slides {zoom: 1;}
.oc-banner7-container .carousel li {
	margin-right: 5px
}
/* Control Nav */
.nivo-controlNav {
	text-align:center;
	padding:0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.oc-banner7-container .flex-control-nav,
.nivo-controlNav {
	position: absolute;
	z-index: 9;
	bottom: 50px;
	left: 0;
	right: 0;
}
.oc-banner7-container .flex-control-nav li { 
	margin: 0 6px; 
	display: inline-block; 
	zoom: 1; 
	display: inline; 
}
.oc-banner7-container .flex-control-paging li a,
.nivo-controlNav a {
	width: 11px;
	height: 11px;
	display: block;
	background: #aaa;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	/* box-shadow: inset 0 0 3px rgba(0,0,0,0.3); */
	z-index: 9;
}
.oc-banner7-container .flex-control-paging li a:hover,
.oc-banner7-container .flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
	cursor: pointer;
    height: 10px;
    line-height: 10px;
    width: 10px;
}
.oc-banner7-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.oc-banner7-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.oc-banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .6; cursor: pointer;}
.oc-banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.oc-banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.oc-nivoslider {
	/*overflow: hidden;*/
}
.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%; 
}
.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.nivo-controlNav {
    /* padding: 0px 0; */
    text-align: center;
}
.nivo-controlNav a {
    background-color: #ffffff;
    border: 0 none;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    line-height: 8px;
    margin: 0 3px;
    position: relative;
    text-indent: -9999px;
    width: 8px;
}
.banner7-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background: none repeat scroll 0% 0% transparent;
	color: #FFF;
	font-size: 16px;
	z-index: 8;
}
@-webkit-keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
@keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
.timeloading{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
	height: 5px;
	animation: ease-in-out 0s normal none 1 running timeloading;
	opacity: 0;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.banner7-content {
	height: 100%;
	position: relative;
}
.banner7-content .container {
	height: 100%;
}
.banner7-content .container .container-inner {
	height: 100%;
	position: relative;
}
.banner7-content .title1 {
	font-size: 40px;
	color: #292929;
	text-transform: uppercase;
	margin-top: 0;
	font-weight: 300;
	position: relative;
	margin-bottom: 0;
	line-height: 1;
	padding: 0;
}
.banner7-content.slider-2 .title1 {
	/* color: #fff; */
}
.banner7-content .sub-title {
	line-height: 1;
	font-size: 60px;
	color: #292929;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin-bottom: 21px;
}
.banner7-content.slider-2 .sub-title {}
.banner7-content .banner7-des{display: inline-block;vertical-align: top;}
.banner7-content .banner7-des p{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	text-transform: none;
	margin: 0;
	line-height: 24px;
	padding: 0;
	letter-spacing: 0.025em;
}
.banner7-content.slider-2 .banner7-des p {
}
.banner7-readmore{
	position: relative;
	z-index: 10;
}
.banner7-content .banner7-readmore a{
	line-height: 56px;
	padding: 0 35px;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	border: 2px solid #fff;
	background: transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	margin-top: 54px;
	pointer-events: visible;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.banner7-content .banner7-readmore a:before {
	content: "+";
	margin-right: 3px;
}
.banner7-content .banner7-readmore a:hover {
	background: #323232;
	color: #fff;
	border-color: #323232;
}
.slider-2 .banner7-readmore a {
}
.banner7-content.slider-1 .banner7-readmore{
	animation: slideInUp 0.5s linear alternate; 
	-webkit-animation: slideInUp 0.5s linear alternate;
	-moz-animation: slideInUp 0.5s linear alternate;
}
.banner7-content.slider-2 .banner7-readmore{
	animation: slideInUp 0.5s linear alternate; 
	-webkit-animation: slideInUp 0.5s linear alternate;
	-moz-animation: slideInUp 0.5s linear alternate;
}
.banner7-content.slider-3 .banner7-readmore{
	animation: slideInUp 0.5s linear alternate; 
	-webkit-animation: slideInUp 0.5s linear alternate;
	-moz-animation: slideInUp 0.5s linear alternate;
}
.banner7-content.slider-2 .title1{ 
	animation: zoomIn 1s linear alternate; 
	-webkit-animation: zoomIn 1s linear alternate;
	-moz-animation: zoomIn 1s linear alternate;
}
.banner7-content.slider-1 .title1{ 
	animation: rollIn 1s linear alternate; 
	-webkit-animation: rollIn 1s linear alternate;
	-moz-animation: rollIn 1s linear alternate;
}
.banner7-content.slider-3 .title1{ 
	animation: fadeInLeft 1s linear alternate; 
	-webkit-animation: fadeInLeft 1s linear alternate;
	-moz-animation: fadeInLeft 1s linear alternate;
}
.banner7-content.slider-1 .banner7-des {
	animation: slideInDown 2s linear alternate; 
	-webkit-animation: slideInDown 2s linear alternate;
	-moz-animation: slideInDown 2s linear alternate;
}
.banner7-content.slider-2 .banner7-des{
	animation: bounceIn 2s linear alternate; 
	-webkit-animation: bounceIn 2s linear alternate;
	-moz-animation: bounceIn 2s linear alternate;
}
.banner7-content.slider-3 .banner7-des{
	animation: fadeInRight 1.5s linear alternate; 
	-webkit-animation: fadeInRight 1.5s linear alternate;
	-moz-animation: fadeInRight 1.5s linear alternate;
}.banner7-content.slider-1 .sub-title  {
	animation: slideInDown 2s linear alternate; 
	-webkit-animation: slideInDown 2s linear alternate;
	-moz-animation: slideInDown 2s linear alternate;
}
.banner7-content.slider-2 .sub-title {
	animation: bounceIn 2s linear alternate; 
	-webkit-animation: bounceIn 2s linear alternate;
	-moz-animation: bounceIn 2s linear alternate;
}
.banner7-content.slider-3 .sub-title {
	animation: rotateInDownRight 2s linear alternate; 
	-webkit-animation: rotateInDownRight 2s linear alternate;
	-moz-animation: rotateInDownRight 2s linear alternate;
}
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:8;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }
/* Caption styles */
.nivo-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 10;
	pointer-events: none;
}
.nivo-caption .container{
}

.nivo-html-caption {
    display:none;
}
/** ocslideshow **/
.banner7 {
	position:relative;
	z-index: 6;
}
.nivo-directionNav i{
	font-size: 12px;
	line-height: inherit;
	font-style: normal;
}
.oc-banner7-container .flex-direction-nav a,
.nivo-directionNav a {
	width: 60px;
	height: 60px;
	line-height: 54px;
	margin: -30px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	cursor: pointer;
	font-size: 0;
	z-index: 11;
	background: #f7f7f9;
	border: 3px solid #e1e1e1;
	text-align: center;
	color: #9e9e9e;
	padding: 0;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}
.oc-banner7-container .flex-direction-nav .flex-next,
.oc-banner7-container .nivo-directionNav a.nivo-nextNav {
	opacity: 0;
	transition: all 0.3s ease-out;
	right: 10px;
}
.oc-banner7-container .flex-direction-nav .flex-prev,
.oc-banner7-container .nivo-directionNav a.nivo-prevNav {
	left: 10px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.oc-banner7-container:hover .nivo-directionNav a{opacity: 1;}
.oc-banner7-container .flexslider .flex-next:hover, 
.oc-banner7-container .nivo-directionNav a.nivo-nextNav:hover,
.oc-banner7-container .flexslider .flex-prev:hover, 
.oc-banner7-container .nivo-directionNav a.nivo-prevNav:hover {color: #fff;background: #292929;border-color: #292929;}
.oc-banner7-container .flex-direction-nav .flex-disabled {
	opacity: .3!important; 
	filter:alpha(opacity=30); 
	cursor: default; 
} 
.oc-banner7-container .flex-direction-nav a:hover::before,
.oc-banner7-container .nivo-directionNav a:hover::before{
}
.oc-banner7-container .nivo-controlNav a {
	display: inline-block;
	vertical-align: top;
	height: 10px;
	margin: 6px;
	font-size: 0;
	width: 25px;
	cursor: pointer;
	z-index: 9;
	border-radius: 0;
	-webkit-border-radius: 0;
	background: transparent;
	background-origin: content-box;
	position: relative;
}
.oc-banner7-container .nivo-controlNav a:after {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #e1e1e1;
}
.oc-banner7-container .nivo-controlNav a.active:after,.oc-banner7-container .nivo-controlNav a:hover:after {
	background: #323232;
}

/** /ocslideshow **/
/* responsive */
@media(min-width:1600px) {
 	.oc-banner7-container .flex-direction-nav .flex-prev, .oc-banner7-container .nivo-directionNav a.nivo-prevNav {
 		left: 60px;
 	}
 	.oc-banner7-container .flex-direction-nav .flex-next,
	.oc-banner7-container .nivo-directionNav a.nivo-nextNav {
		right: 60px;
	}
 }
@media(max-width:1199px){
	.oc-banner7-container .flex-control-nav, .nivo-controlNav {
		bottom: 5%;
	}
	 .banner7-content .title1 {
	 	font-size: 3vw;
	 }
	 .banner7-content .sub-title {
	 	font-size: 6vw;
	 	margin-bottom: 1.5vw;
	 }
	 .banner7-content .banner7-des p {
	 	font-size: 1.6vw;
	 	line-height: 1.3;
	 }
	 .banner7-content .banner7-readmore a {
	 	line-height: 4vw;
	 	font-size: 1.5vw;
	 	padding: 0 2vw;
	 	margin-top: 3vw;
	 } 
}
@media(max-width:991px){
	.banner7-content .banner7-des p {
		font-size: 1.8vw;
	}
}
@media(max-width:479px){
	.banner7-content .title1 {
		font-size: 3.5vw;
	}
	 .banner7-content .banner7-des p {
	 	font-size: 2.8vw;
	 }
}
@media(max-width:374px){
	.banner7-content .title1 {
	 	font-size: 4vw;
	 	margin-bottom: 1vw;
	 }
	 .banner7-content .sub-title {
	 	font-size: 8vw;
	 	line-height: 1;
	 	margin-bottom: 1vw;
	 }
	 .banner7-content .banner7-des p {
	 	font-size: 3.3vw;
	 	line-height: 1.3;
	 }
	 .banner7-content .banner7-readmore a {
	 	line-height: 6vw;
	 	font-size: 2.8vw;
	 	padding: 0 2vw;
	 	margin-top: 2vw;
	 }
}


@charset "UTF-8";

/* Slider */
.slick-list .slick-loading {
  background: #fff url("/image/catalog/load.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 15px;
  background-image: url(/image/chevron-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slick-next {
  right: 15px;
  background-image: url(/image/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*[dir="rtl"] .slick-prev {*/
/*  left: auto;*/
/*  right: -25px;*/
/*}*/
/*.slick-prev:before {*/
/*  content: "←";*/
/*}*/
/*[dir="rtl"] .slick-prev:before {*/
/*  content: "→";*/
/*}*/

/*[dir="rtl"] .slick-next {*/
/*  left: -25px;*/
/*  right: auto;*/
/*}*/
/*.slick-next:before {*/
/*  content: "→";*/
/*}*/
/*[dir="rtl"] .slick-next:before {*/
/*  content: "←";*/
/*}*/

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: #003f40;
    border-radius: 50%;
}
.slick-dots .slick-active {
  background-color: #e55c3a;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 15px;
  width: 15px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
