<tr class='product_row'>
    <td class='product_name'>
        <input type='text' class='form-control' readonly name='set[{si}][products][{pi}][product_name]'>
        <input type='hidden' name='set[{si}][products][{pi}][product_id]' value=''>
    </td>

    <td class='quantity'>
        <input type='number' min='1' name='set[{si}][products][{pi}][quantity]' value='1' class='form-control'>
    </td>

    <td class='options'>
        <select  class='form-control' name='set[{si}][products][{pi}][use_option]'>
            <option value='no'>NO options</option>
            <option disabled='disabled' value='popup'>POPUP options</option>
            <option disabled='disabled' value='fixed'>FIXED options</option>
        </select>
        <button type='button' class='btn btn-info'  data-toggle='modal' data-target='#myModalset{si}{pi}'><i class='fa fa-gear'></i></button>

        <!-- Modal -->
        <div id='myModalset{si}{pi}' class='modal fade' role='dialog'>
            <div class='modal-dialog'>

                <!-- Modal content-->
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal'>&times;</button>
                    </div>
                    <div class='modal-body'>

                    </div>
                </div>

            </div>
        </div>
    </td>
    <td class='delete'>
        <button class='btn btn-warning del_product'><i class='fa fa-minus'></i></button>
    </td>
</tr>