<tr>
    <td class='product_name'>
        <input type='hidden' name='products[{pi}][product_id]' value=''>
        <input readonly class='form-control' type='text' name='products[{pi}][product_name]' value=''>
    </td>
    <td>
        <input class='form-control' type='number' min='1' name='products[{pi}][quantity]' value='1'>
    </td>
    <td class='option'>
        <select  class='form-control' name='products[{pi}][use_option]'>
            <option value='no'>NO options</option>
            <option value='popup'>POPUP options</option>
            <option value='fixed'>FIXED options</option>
        </select>

        <button type='button' data-toggle='modal' data-target='#myModalset{pi}' class='btn btn-info' >
            <i class='fa fa-gear'></i>
        </button>
        <div id='myModalset{pi}' class='modal fade' role='dialog'>
            <div class='modal-dialog'>

                <!-- Modal content-->
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal'>&times;</button>
                    </div>
                    <div class='modal-body'></div>
                </div>
            </div>
        </div>
    </td>
    <td>
        <i class='fa fa-close del_product' class='fa fa-close'></i>
    </td>
</tr>